.create-main {
  
}

.text-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.your-post_text {
  font-size: 40px;

}

.create-form_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  
}

.create-post_form {
  display: flex;
  flex-direction: column;

  
}
.create-input, .create-textarea {
  font-size: 28px;
  width: 500px;
  margin: 20px;
  height: 30px;
  border: unset;
  border-bottom:  solid black;
  outline: none;
  text-align: center;


}
::placeholder {
  text-align: center;
}

.create-textarea {
  height: 100px;
}