.create-main {

  background-color: white;
  

  flex: 1;

}

.text-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  padding-top: 100px;
}

.your-post_text {

  font-size: 70px;
  font-weight: 900;
  color: rgb(95, 94, 94);
  
  font-family: 'Shadows Into Light', cursive;
 


}

.create-form_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
}

.create-post_form {
  display: flex;
  flex-direction: column;

 
 border-radius: 6px;
 padding: 20px;


}
.create-input,
.create-textarea {
  font-size: 28px;
  width: 500px;
  margin: 20px;
  height: 30px;
  border: unset;

  border-bottom:  solid black;
  border-radius: 6px;
  outline: none;
  text-align: center;
  background-color: rgb(242, 244, 246);
  
  



 

}
::placeholder {
  text-align: center;
  color: rgb(115, 114, 119);
  font-family: 'Pangolin', cursive;
}

.create-textarea {
  height: 100px;
}


.create-button {
  font-family: 'Balsamiq Sans', cursive;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px;
  margin: auto;
  width: 200px;
  background: rgb(56, 56, 139);
  color: white;
  font-size: 20px;
  font-weight: 800;
  height: 50px;
  border-radius: 6px;
  cursor: pointer;

  
}

.create-button:hover,
.create-button:active {
  background: white;
  color: blue;
}


@media only screen and (min-width: 320px) and (max-width: 500px){


 

.your-post_text {
  font-size: 45px;
}

.create-input,
.create-textarea {
  width: 350px;
  margin: 20px;
  height: 50px;
}

.create-textarea {
  height: 100px;
}

}