.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 3px 2px 3px 2px #cecece;
  transition: 250ms all;
  padding: 20px;
  margin-bottom: 60px;
}

.container {
  /* display: flex; */
}

.post:hover {
  transform: scale(1.05);
}

.post__title {
  display: flex;
  margin-bottom: auto;
  justify-content: center;
  font-family: fantasy;
  font-weight: bolder;
}

.post__image {
  height: 150px;
  display: flex;
}

.post__author {
  display: flex;
  margin-top: auto;
  font-family: monospace;
  
}

a {
  text-decoration: none;
}
a:link,
a:visited {
  color: rgba(0, 0, 1, 0.582);
}
