.footer {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 2rem;
  min-height: 10%;
  justify-content: space-around;
  margin-top: 30px;
}

.zun, 
.barnett,
.bob,
.sebastian{
  height: 50px;
  border-radius: 80%;
}

.zun:hover, 
.barnett:hover, 
.bob:hover, 
.sebastian:hover{
  transform: scale(1.5);
  transition: 250ms all;
}

